language: java
jdk:
  - openjdk7
  - openjdk8
  - oraclejdk8
script: "mvn --show-version --errors --batch-mode -Prun-its clean verify"
cache:
    directories:
    - $HOME/.m2
branches:
    except:
        - gh-pages
