 ~~ Licensed to the Apache Software Foundation (ASF) under one
 ~~ or more contributor license agreements.  See the NOTICE file
 ~~ distributed with this work for additional information
 ~~ regarding copyright ownership.  The ASF licenses this file
 ~~ to you under the Apache License, Version 2.0 (the
 ~~ "License"); you may not use this file except in compliance
 ~~ with the License.  You may obtain a copy of the License at
 ~~
 ~~   http://www.apache.org/licenses/LICENSE-2.0
 ~~
 ~~ Unless required by applicable law or agreed to in writing,
 ~~ software distributed under the License is distributed on an
 ~~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~~ KIND, either express or implied.  See the License for the
 ~~ specific language governing permissions and limitations
 ~~ under the License.

 -----
 Comparing against a specific version
 -----
 -----
 2008-09-13
 -----

Comparing against a specific version

  By default, the Clirr Maven Plugin compares the current code against
  the latest released version, which is lower than the current version.
  This is, because the parameter <<<comparisonVersion>>> has the
  default value <<<(,${project.version})>>>. This parameter can be
  changed, if you want to compare your code against a particular
  version:

-----------------------------------------------------------------------------------
<project>
  <build>
    <plugins>
      ...
      <plugin>
        <groupId>org.codehaus.mojo</groupId>
        <artifactId>clirr-maven-plugin</artifactId>
        <version>${project.version}</version>
        <configuration>
          <!-- Compare the current code against version 1.2 -->
          <comparisonVersion>1.2</comparisonVersion>
        </configuration>
      </plugin>
      ...
    </plugins>
  </build>
</project>
-----------------------------------------------------------------------------------

  Likewise, for generating the report:

-----------------------------------------------------------------------------------
<project>
  <reporting>
    <plugins>
      ...
      <plugin>
        <groupId>org.codehaus.mojo</groupId>
        <artifactId>clirr-maven-plugin</artifactId>
        <version>${project.version}</version>
        <configuration>
          <!-- Compare the current code against version 1.2 -->
          <comparisonVersion>1.2</comparisonVersion>
        </configuration>
      </plugin>
      ...
    </plugins>
  </reporting>
</project>
-----------------------------------------------------------------------------------
